<!DOCTYPE html>

<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Yammane">
  <meta name="keywords" content="Yammane, Mammals, ">
  <meta name="author" content="Yammane">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/static/yammane.css" type="text/css">
  <link rel="shortcut icon" href="/static/yammane.ico" />
  <title>Yammane</title>
</head>

<body class="yammane">

<p class="tactr"><br></p>
<p class="tactr"><br></p>

<p class="tactr"><img src="/static/logo.png" width="370"></p>
<h1 class="tactr">動物実験管理システム</h1>
<p class="tactr"><br></p>
<p class="tactr">
  <input type="button" onclick="location.href='{{ inquiry }}'" value="問い合わせ" style="width: 9em; height: 2em">
  &nbsp; &nbsp; &nbsp; &nbsp;
  <input type="button" onclick="location.href='./login'" value="ログイン" style="width: 9em; height: 2em"><br>
</p>

</body>

</html>
